/* Section 1 */

span {
    font-weight: 800;
}

#text-about {
    display: flex;
    width: 90vw;
    text-align: justify;
    align-items: start;
    flex-flow: column wrap;
    margin: 40px;
}

#text-about p {
    width: 70%;
    margin: 0 10%;
}

#text-about h2 {
    margin: 2% 10%;
    letter-spacing: 1px;
}

/* Hostinger */

#text-hostinger {
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 100px;
}